<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<div>
  <h1>{{title}}</h1>
</div>

<input [(ngModel)]="x" type="number">
<input [(ngModel)]="y" type="number">
<input [(ngModel)]="r" type="number">
<button (click)="sendPoint()">Send</button>
<div class="card">
  <p-table [value]="points" [scrollable]="true" scrollHeight="500px" scrollDirection="both">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:100px">X</th>
        <th style="width:200px">Y</th>
        <th style="width:200px">R</th>
        <th style="width:200px">Time</th>
        <th style="width:200px">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-points>
      <tr>
        <td style="width:100px">{{points.x}}</td>
        <td style="width:200px">{{points.y}}</td>
        <td style="width:200px">{{points.r}}</td>
        <td style="width:200px">{{points.time}}</td>
        <td style="width:200px">{{points.status}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td style="width:100px">Id</td>
        <td style="width:200px">Name</td>
        <td style="width:200px">Type</td>
        <td style="width:200px">Location</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</body>
</html>
